<!DOCTYPE html>
{% load static %}
{%block content%}
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
    <meta charset="UTF-8">
    <title>Renuka</title>
</head>
{% if sent %}
        <h3>Registration successful login to Account</h3>
    {% else %}
  <div align="center" class="login">
        <h3 style="color: black">Login For Post</h3>
        <hr style="background-color: deepskyblue"/>
        <form method="post" style="color: black">
                {{form1.as_p}}
                {%csrf_token%}
                <p class="par">To Register</p>
                <a href="/tag/"><button>Login</button></a>
                <a href="/signup/"><button type="button">Register</button></a>
                <a href="/"><button type="button">Back</button></a>
            </form>
        </div>
     {% endif %}
{%endblock%}



