<!DOCTYPE html>
{% load static %}
{%block content%}
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
    <meta charset="UTF-8">
    <title>RENUKA BLOG</title>
</head>
   {% if sent %}
        <h3>Registrations is Successfully done</h3>
    {% else %}
    <div class="signup">
        <h3 style="color: black">Signup Form</h3>
        <hr style="color: deepskyblue">
        <form method="post" style="color: black">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Signup</button>
            <a href="/"><button type="button">Back</button></a>
        </form>
    </div>
    {% endif %}
{% endblock %}