<!DOCTYPE html>
{% load static %}
{%block content%}
<html lang="en">
<head>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div align='center'>
            <h1 style="color: #0b5ed7">Blog Signup Form</h1>
			<hr />
			{%if sentdata %}
				<h3>Signup-process done success..!!!</h3>
			{%endif%}
            <form method="post" action=".">
                {{form1.as_p}}
                {%csrf_token%}
                <button type="submit">Register</button>

            </form>
        </div>
{%endblock%}
</body>
</html>
